<ion-modal-view>
  <ion-content padding="false" scroll="false" fclass="start " >
    <div class="stepContainer" ng-switch="step">
    	<div class="step startPage padding-0 overflow-hidden" ng-switch-when="0">
            <div class="item-image container-flex"  ng-if="!isOnline">
                <img src="img/offline.png" style="max-height:100%; width:50%;"/>
            </div>
            <div class="item-image container-flex"  ng-if="isOnline">
                <img src="img/splash.png" width="100%" />
                <div class="list button-absolute" >
                    <!-- <button class="button button-block button-calm" ng-click="startNew()">{{'NEW_WALLET' | translate}}</button> -->
                    <button class="button button-block button-calm" ng-click="goMnemonic(' ')">{{'NEW_WALLET' | translate}}</button>
                    <button class="button button-block button-calm" ng-click="goStep(2)">{{'IMPORT_WALLET' | translate}}</button>
                </div>
            </div>
        </div>

    	<div class="step importPage" ng-switch-when="1">
			<div class="bar bar-header bar-dark">
    			<h1 class="title">{{'GENERATE_ID' | translate}}</h1>
    		</div>
			<div class="contentContainerScroll">
		      	<div class="item">
		        	<i class="badge badge-balanced">- {{shakeCounter}}</i>
		        	<h2>{{'LOGIN_MOBILE_PRETENT' | translate}}</h2>
		      	</div>
		    	<div class="item-image">
		        	<img class="{{classShake}}" ng-src="img/shake{{shakeCounter}}.png"/>
		    	</div>
		    	<button class="button button-block button-calm " ng-click="goMnemonic('')">{{'LOGIN_SKIP' | translate}} <i class="ion-ios-fastforward"></i></button>
			</div>
			<div class="bar bar-footer bar-dark">
				<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
				</a>
			</div>
		</div>

    	<div class="step importPage" ng-switch-when="2">
    		<div class="bar bar-header bar-dark">
    			<h1 class="title">{{'LOGIN_RESTORE' | translate}}</h1>
				</div>
				<p class="padding">{{'LOGIN_RECOVERY_REQUIRED' | translate}}</p>
				<div class="list">
					<div class="item item-input">
                        <textarea ng-model="randomSeed" rows="5" placeholder="type mnemonic 12 words"></textarea>
		      		</div>
		      		<button class="button button-block button-calm" ng-show="isValidMnemonic(randomSeed)"  ng-click="goStep(3)">{{'LOGIN_NEXT' | translate}} <i class="icon ion-chevron-right"></i></button>
			</div>
			<div class="bar bar-footer bar-dark">
				<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
			</div>
		</div>

    	<div class="step importPage" ng-switch-when="3">
    		<div class="bar bar-header bar-dark">
    			<h1 class="title">{{'LOGIN_WALLET_SAFE' | translate}}</h1>
				</div>
				<div class="contentContainerScroll">
					<div class="list">
							<div class="card button-rigth">
								<div class="item item-text-wrap">
									<p>{{'RESTORE_KEY' | translate}}</p><br/>
									<p><b>{{randomSeed}}</b></p><br/>
									<p class="subdued">{{'LOGIN_KEYWORD_DES' | translate}}</p>
								</div>
							</div>
						</div>
						<button class="button button-block button-calm" ng-click="goStep(4)">{{'LOGIN_NEXT' | translate}} <i class="icon ion-chevron-right"></i></button>
				</div>
				<div class="bar bar-footer bar-dark" >
					<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
					<a class="button icon-right ion-chevron-right button-clear button-light" ng-click="skipMnemonics()"> {{'SKIP_NEMONICS' | translate}}
				</div>
		</div>

		<div class="step importPage" ng-switch-when="4">
			<div class="bar bar-header bar-dark">
    			<h1 class="title">{{'LOGIN_RECONFIRM_KEYWORD' | translate}}</h1>
				</div>
				<div class="contentContainerScroll">
    			<p class="padding">{{'LOGIN_ORDER_KEYWORD' | translate}}</p>
					<div class="words padding">
						<button ng-repeat="w in mnemonicWords | orderBy:'text'" ng-model="w.index" class="button word button-positive button-outline" ng-hide="inVerified(w)" ng-click="verifyWord(w)">{{w.text}}</button>
					</div>
    			<p class="padding" ng-show="verifiedWords.length">{{'LOGIN_O12_WORD' | translate}}</p>
					<tags-input ng-model="verifiedWords" ng-show="verifiedWords.length" placeholder="click on the words" key-property="index" display-property="text" ></tags-input>


					<button class="button button-block button-calm" ng-show="isVerifiedMnemonic()" ng-click="goStep(5)">{{'LOGIN_NEXT' | translate}} <i class="icon ion-chevron-right"></i></button>
						<div class="bar bar-footer bar-dark">
						<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
					</div>

				</div>
				<div class="bar bar-footer bar-dark">
					<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
				</div>
		</div>

		<div class="step importPage" ng-switch-when="5">
			<div class="bar bar-header bar-dark">
    			<h1 class="title">{{'LOGIN_ENCRYPT' | translate}}</h1>
				</div>
				<div class="contentContainerScroll">
				<p class="padding">{{'LOGIN_PASS_MSG' | translate}}</p>
				<div class="list">
						<form name="login" ng-submit="Login(randomSeed,password,code)">
					<label class="item item-input">
							<span class="input-label">{{'LOGIN_PASS' | translate}}</span>
							<input type="password" ng-model="password" name="password" required placeholder="Password" minlength="8" maxlength="20" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
					</label>

					<label class="item item-input" ng-show="password">
							<span class="input-label">{{'LOGIN_CONFIRM_PASS' | translate}}</span>
							<input type="password" ng-model="confirmPassword" name="confirmPassword" placeholder="Confirm" minlength="8" maxlength="20" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
					</label>

					<label class="item item-input" ng-show="confirmPassword">
							<span class="input-label">{{'LOGIN_PIN' | translate}}</span>
							<input type="password" ng-model="code" name="code" placeholder="PIN" pattern="[0-9]*" maxlength="4" minlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
					</label>
					<button ng-show="login.$valid && password==confirmPassword" class="button button-block button-calm" type="submit">
								<i class="icon ion-flag" ng-hide="!login.$valid || confirmPassword!=password"></i>&nbsp;{{'LOGIN_ISSUE' | translate}}
							</button>
							<ul class="assertive">
									<li ng-show="login.password.$dirty && login.password.$invalid ">* {{'LOGIN_PASS_ERR_MSG' | translate}}</li>
									<li ng-show="login.confirmPassword.$dirty && password!=confirmPassword">* {{'LOGIN_CONFIRM_PASS_ERR_MSG' | translate}}</li>
									<li ng-show="login.code.$dirty && login.code.$invalid">* {{'LOGIN_PIN_ERR_MSG' | translate}}</li>
							</ul>
					</form>
			</div>
		</div>
		<div class="bar bar-footer bar-dark">
			<a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goStep(0)" ng-show="step > 0"> {{'LOGIN_BACK' | translate}}</a>
		</div>
	</div>
  </ion-content>
</ion-modal-view>
